<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Server</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Address</string>
			<key>File</key>
			<string>Server</string>
			<key>IASKViewControllerStoryBoardId</key>
			<string>ServerSettingTableViewController</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Username</string>
			<key>Key</key>
			<string>ChinachuWUIUsername</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string>akari</string>
			<key>IASKPlaceholder</key>
			<string>akari</string>
			<key>IASKTextAlignment</key>
			<string>IASKUITextAlignmentRight</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Password</string>
			<key>Key</key>
			<string>ChinachuWUIPassword</string>
			<key>IsSecure</key>
			<true/>
			<key>DefaultValue</key>
			<string>bakuhatsu</string>
			<key>IASKPlaceholder</key>
			<string>bakuhatsu</string>
			<key>IASKTextAlignment</key>
			<string>IASKUITextAlignmentRight</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Playback/Download</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Transcoding</string>
			<key>Key</key>
			<string>PlaybackTranscoding</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Quality</string>
			<key>Key</key>
			<string>TranscodeQuality</string>
			<key>DefaultValue</key>
			<string>mid</string>
			<key>Titles</key>
			<array>
				<string>FHD (3Mbps/256kbps)</string>
				<string>HD (1Mbps/128kbps)</string>
				<string>SD (512kbps/64kbps)</string>
			</array>
			<key>Values</key>
			<array>
				<string>high</string>
				<string>mid</string>
				<string>low</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Player</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Swipe action</string>
			<key>Key</key>
			<string>HorizontalSwipeAction</string>
			<key>DefaultValue</key>
			<string>speed</string>
			<key>Titles</key>
			<array>
				<string>Change playback speed</string>
				<string>Seek 30 seconds</string>
				<string>No action</string>
			</array>
			<key>Values</key>
			<array>
				<string>speed</string>
				<string>seek</string>
				<string>none</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Resume</string>
			<key>Key</key>
			<string>ResumeFrom</string>
			<key>DefaultValue</key>
			<string>begin</string>
			<key>Titles</key>
			<array>
				<string>from last position</string>
				<string>from beginning</string>
			</array>
			<key>Values</key>
			<array>
				<string>last</string>
				<string>begin</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>About</string>
			<key>Key</key>
			<string></string>
			<key>FooterText</key>
			<string>Copyright © 2018 Yuki MIZUNO All Rights Reserved.</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>DefaultValue</key>
			<string>1.0.0</string>
			<key>Title</key>
			<string>Version</string>
			<key>Key</key>
			<string>sbVersion</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>DefaultValue</key>
			<string>1</string>
			<key>Title</key>
			<string>Build</string>
			<key>Key</key>
			<string>sbBuild</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKOpenURLSpecifier</string>
			<key>Title</key>
			<string>Review on AppStore</string>
			<key>File</key>
			<string>https://itunes.apple.com/jp/app/harekaze/id1158287852?action=write-review</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Acknowledgements</string>
			<key>File</key>
			<string>com.mono0926.LicensePlist</string>
		</dict>
	</array>
</dict>
</plist>
